<template name="projectPage">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{heading}}</h1>
                    </div>
                    <div class="panel-body">
                        <img class="project-image-full" src="/images/code.jpg">
                        <br>
                        <p><b>Start date:</b> {{startDate}}</p>
                        <p><b>Complete date:</b> {{completeDate}}</p>
                        <p><b>Summary:</b> {{shortDesc}}</p>
                        <p><b>Description:</b> {{longDesc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>