<template name="header">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_target">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'homePage'}}"><span class="glyphicon glyphicon-briefcase"></span> Portable Portfolio</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse_target">
                <form class="navbar-form navbar-left" role="search" action="{{pathFor 'searchResults'}}">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Find a portfolio">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{pathFor 'userHome'}}">Home</a></li>
                    <li><a href="{{pathFor 'projectsList'}}">Projects</a></li>
                    <li><a href="{{pathFor 'resume'}}">Resume</a></li>
                    <li><a href="{{pathFor 'contact'}}">Contact</a></li>
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>