<template name = "contactItem">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Contact Info for {{fName}} {{lName}}</h2>
            </div>
            <div class="panel-body">
                <p><b>Email:</b> {{email}}<br>
                    <b>Phone Number:</b> {{phone}}<br>
                    <b>Twitter account:</b> {{twitter}}</p>
            </div>
        </div>
    </div>
</template>